<%= form_for @invoice, :html => { :multipart => true }  do |f| %>
  <% if @invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% @invoice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<div class="row">
		<div class="field col-md-6">
			<%= f.collection_select(:company_id, Company.where(:user => current_user), :id, :name) %>
		</div>
 		<div class="field col-md-2">
			<%= f.text_field :number, :placeholder => :invoice_number %>
  	</div>
		<div class="field col-md-2">
			<%= f.text_field :date, :class => 'datepicker', :placeholder => :invoice_date %>
		</div>
		<div class="field col-md-2">
			<%= f.text_field :purchase_order, :placeholder => :purchase_order %>
		</div>
		<div class="field col-md-12">
			<h2>Invoice lines</h2>
		</div>
  	<div class="field col-md-9">
			<%= f.text_field :item1, :placeholder => "Service or item description" %>
		</div>
  	<div class="field col-md-3">
			<%= f.text_field :subtotal1, :placeholder => :amount %>
  	</div>
  	<div class="field col-md-9">
			<%= f.text_field :item2, :placeholder => "Service or item description" %>
		</div>
	  <div class="field col-md-3">
			<%= f.text_field :subtotal2, :placeholder => :amount %>
		</div>
		<div class="field col-md-9">
			<%= f.text_field :item3, :placeholder => "Service or item description" %>
  	</div>
  	<div class="field col-md-3">
			<%= f.text_field :subtotal3, :placeholder => :amount %>
  	</div>
	  <div class="field col-md-3 col-md-offset-9">
			<%= f.text_field :vat, :placeholder => :vat %>
  	</div>
  	<div class="field col-md-3 col-md-offset-9">
			<%= f.text_field :irpf, :placeholder => :irpf %>
		</div>
	  <div class="field col-md-3 col-md-offset-9">
			<%= f.text_field :total, :placeholder => :total %>
		</div>
		<div class="field col-md-12">
			<h2>PDF copy</h2>
			<%= f.file_field :invoice_doc, :placeholder => :pdf_copy %>
		</div>
  	<div class="actions col-md-12">
			<%= f.submit "submit", :class => "btn btn-lg btn-primary" %>
		</div>
	</div>
<% end %>
