<%= render 'admin/sidebar' %>

<div class="col-md-9">
	<div class="admin-users">
	<h2 class='page-header'>New users</h2>
		<table class="table">
  		<thead>
    		<tr>
      		<th>email</th>
      		<th>Created_at</th>
      		<th>Companies</th>
      		<th>Invoices</th>
      		<th colspan="2"></th>
    		</tr>
  		</thead>
	  <tbody>
    	<% @users.each do |user| %>
      	<tr>
        	<td><%= link_to user.email, admin_user_path(user) %></td>
					<td><%= user.created_at.strftime("%d/%m/%Y") %></td>
					<td><%= user.companies.count %></td>
        	<td><%= user.invoices.count %></td>
	        <td><%= link_to 'Edit', edit_admin_user_path(user) %></td>
  	    </tr>
    	<% end %>
  	</tbody>
	</table>
	
	<br>

	<%= link_to 'New User', new_admin_user_path %>
</div>


<div class="admin-companies">
	<h2 class='page-header'>New Companies</h2>
		<table class="table">
  		<thead>
    		<tr>
      		<th>Name</th>
      		<th>VAT ID</th>
      		<th>Owner</th>
      		<th>Created</th>
      		<th>Invoices</th>
      		<th colspan="2"></th>
    		</tr>
  		</thead>

  	<tbody>
    	<% @companies.each do |company| %>
      	<tr>
        	<td><%= link_to company.name, company_path(company) %></td>
        	<td><%= company.vat_id %></td>
        	<td><%= company.user.email %></td>
        	<td><%= company.created_at.strftime("%d/%m/%Y") %></td>
        	<td><%= company.invoices.count %></td>
	        <td><%= link_to 'Edit', edit_company_path(company) %></td>
  	      <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
     		</tr>
    	<% end %>
  	</tbody>
	</table>

	<br>

	<%= link_to 'New Company', new_admin_company_path %>
</div>

<div class="admin=invoices">
	<h2 class='page-header'>New Invoices</h2>
		<table class="table">
  		<thead>
    	<tr>
				<th>Purchase Order</th>
				<th>Company</th>
      	<th>Number</th>
      	<th>Concept</th>
      	<th>Total</th>
      	<th colspan="2"></th>
    	</tr>
  	</thead>

  	<tbody>
    	<% @invoices.each do |invoice| %>
      	<tr>
        	<td><%= link_to invoice.purchase_order, invoice_path(invoice) %></td>
        	<td><%= invoice.company.address %></td>
        	<td><%= invoice.number %></td>
        	<td><%= invoice.item1 %></td>
        	<td><%= invoice.total %></td>
	        <td><%= link_to 'Edit', edit_admin_invoice_path(invoice) %></td>
  	      <td><%= link_to 'Destroy', invoice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    	  </tr>
    	<% end %>
  	</tbody>
	</table>

	<br>

	<%= link_to 'New Invoice', new_admin_invoice_path %>
</div>
</div>
